<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" data-ng-app="weatherApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>yo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>

<div class="hero-unit" data-ng-controller="WeatherCtrl">
    <h1>Current weather</h1>

    <div id="weather-data">
        <div id="weather-result" data-ng-if="weatherResult">
            <h2>Weather result for {{weatherResult.location}}</h2>
            <ul>
                <li>Measurement time: {{weatherResult.measurement | date:'yyyy-MM-dd HH:mm:ss Z'}}</li>
                <li>Temperature: {{weatherResult.temperature}} C</li>
                <li>Wind speed: {{weatherResult.windSpeed}} kmph</li>
                <li>Wind direction: {{weatherResult.windDirection}}</li>
            </ul>
        </div>
    </div>
    <div id="weather-control-panel">
        <button data-ng-click="getWeather()">Get weather!</button>
    </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
